<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		{% if page.title == "Home" %}
		  {{ site.title }} &middot; {{ site.tagline }}
		{% else %}
		  {{ page.title }} &middot; {{ site.title }}
		{% endif %}
	</title>
	
	<link rel="stylesheet" href="{{ site.baseurl }}/_lib/css/styles.css">
	<link rel="stylesheet" href="{{ "/_lib/css/prismDarkDev.css" | prepend: site.baseurl }}">
	
	<link rel="apple-touch-icon" sizes="58x58" href="{{ site.baseurl }}/_lib/icon/apple-touch-icon-58.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/_lib/icon/apple-touch-icon-60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/_lib/icon/apple-touch-icon-76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/_lib/icon/apple-touch-icon-120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/_lib/icon/apple-touch-icon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/_lib/icon/apple-touch-icon-180.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/_lib/icon/icon-16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/_lib/icon/icon-32.png">
	<link rel="icon" type="image/png" sizes="180x180" href="{{ site.baseurl }}/_lib/icon/icon-180.png">
	<link rel="mask-icon" color="#f75c02" href="{{ site.baseurl }}/_lib/icon/icon.svg">
	
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
