/* Coolors Exported Palette - coolors.co/f75c03-423931-7a7461-c1bdbd-e5e0e0 */

/* HSL */
$color1: hsla(22%, 98%, 49%, 1);
$color2: hsla(28%, 15%, 23%, 1);
$color3: hsla(46%, 11%, 43%, 1);
$color4: hsla(0%, 3%, 75%, 1);
$color5: hsla(0%, 9%, 89%, 1);

/* RGB */
$color1: rgba(247, 92, 3, 1);
$color2: rgba(66, 57, 49, 1);
$color3: rgba(122, 116, 97, 1);
$color4: rgba(193, 189, 189, 1);
$color5: rgba(229, 224, 224, 1);