---
layout: default
---

<article class="post">
	<h1 class="post-title">{{ page.title }}</h1>
	{% if page.tags.size > 0 %}
		<p>{% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/index.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %} {% endfor %}</p>
	{% else %}
		<p>{{ page.tags }}</p>
	{% endif %}
	<time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date:"%-d %B %Y" | date_to_string }}</time>
	{{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
	<h3>Related posts</h3>
	<ul class="related-posts">
		{% for post in site.related_posts limit:3 %}
		<li>
			<a href="{{ site.baseurl }}{{ post.url }}">
				{{ post.title }}
				<small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
			</a>
		</li>
		{% endfor %}
	</ul>
</aside>
{% endif %}